/* #container {
    margin: 10px auto;
    background-color: #fff;
    height: calc(100vh - 20px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-flow: column;
    display: flex;
}

#title {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

#input-container {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#product-list {
    display: flex;
    flex-grow: 1;
    margin: 20px 0px;
    overflow-y: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
} */